/* css styles */

p {
  text-align: justify;
}

.sidebar-logo {
  width: 80%;
}

.quarto-sidebar-footer {
  font-style: italic;
  color: #808080;
}

.verticalLine {
  border-left: thick solid #ff0000;
}